#######################################
# C++ GITIGNORE
#######################################

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


#######################################
# PROJECT-SPECIFIC
#######################################
!kaldi/
kaldi/*
!kaldi/egs/
kaldi/egs/*
!kaldi/egs/gp-xvectors

venv/*
src/logs/