#######################################
# PROJECT-SPECIFIC
#######################################
!kaldi/
kaldi/*
!kaldi/egs/
!kaldi/egs/**/*
# !kaldi/egs/gp-xvectors

venv/*
src/logs/
gp-xvectors-recipe/c_primary_calculator.py
gp-xvectors-recipe/explore_log_regression.sh
lre_results/*

outputs

#######################################
# C++ GITIGNORE
#######################################

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.Rhistory

*.pyc
