# Compiled tools
**shorten-3.6.1/
**sox-14.3.2/
**install.log

# Audio files
*.shn
*.raw
*.wav

# Preprocessed data
**data/
**exp/
**mfcc/

# Helper files
old-path.sh

# User-specific files
user_specific_config.sh
conf/test_languages.list

#Log files
nohup.out
!nohup-logs/
!nohup-logs/*

# Sam's local directories
gp_s5

