# Compiled tools
**shorten-3.6.1/
**sox-14.3.2/
**install.log

# Audio files
*.shn
*.raw
*.wav

# Preprocessed data
**data/
**exp/
**mfcc/

# Helper files
old-path.sh

# User-specific files
## Train/dev/eval splits changed for development purposes
dev_spk.list
eval_spk.list
train_spk.list
## Other user-specific configs
user_specific_config.sh
